* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  min-height: 110vh;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  font-feature-settings: 'pnum'on, 'lnum'on;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}



input {
  outline: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 20px 15px;
}

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.first-screen {
  background: url(../img/fitrst-screen.png) no-repeat top center;
  min-height: 110vh;
}

.first-screen__block {
  width: 50%;
  margin-left: auto;
  padding-top: 90px;
}

.first-screen__text {
  max-width: 850px;
  font-size: 16px;
  line-height: 26px;
  padding-top: 15px;
}

.header__navigation-list {
  display: flex;
  justify-content: space-between;
}

.header__navigation-item a {
  color: #fff;
}

.first-screen__price {
  display: flex;
  align-items: end;
  max-width: 560px;
  padding-top: 50px;
}

.first-screen__price-current {
  margin-right: 20px;
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
}

.first-screen__price-current span {
  font-weight: 500;
}

.first-screen__price-old {
  font-size: 32px;
  line-height: 38px;
  padding-bottom: 10px;
}

.first-screen__wrapper {
  display: flex;
  column-gap: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.first-screen__btn {
  color: #00285D;
  font-size: 18px;
  line-height: 21px;
  border: 1px solid #00285D;
  border-radius: 25px;
  width: 243px;
  height: 50px;
}

.first-screen__btn:hover {
  background: #00285D;
  color: #FFFFFF;
}

.first-screen__item:not(:last-child) {
  margin-bottom: 30px;
}

.first-screen__link {
  font-size: 24px;
  line-height: 26px;
}

.first-screen__link--first {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}

.first-screen__link-download {
  text-decoration-line: underline;
}

.reverse-videocall {
  background: #3E00A4;
  transform: rotate(90deg);
  width: 285px;
  height: 43px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: fixed;
  left: -6.5%;
  top: 50%;

}

.presentation {
  background: url(../img/backgraund.jpg) no-repeat top center;
  min-height: 110vh;
  padding-top: 65px;
}

.presentation__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
  margin-top: 0;
}

.block-video__description {
  font-size: 16px;
  line-height: 30px;
  margin-top: 66px;
}

.video {
  position: relative;
  max-width: 1760px;
  max-height: 200px;
  margin: 0 auto;
}

.video__wrapper {
  position: relative;
  width: 100%;
  max-height: 820px;
  background-color: #000;
}

.video__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 820px;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 820px;
  min-height: 820px;
  border: none;
}

.video__button {
  position: absolute;
  top: 400px;
  left: 50%;
  z-index: 1;
  display: none;
  padding: 0;
  width: 68px;
  height: 48px;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video__button-shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.video__button-icon {
  fill: #fff;
}

.video__button:focus {
  outline: none;
}

.video__wrapper:hover .video__button-shape,
.video__button:focus .video__button-shape {
  fill: #f00;
  fill-opacity: 1;
}

.video--enabled {
  cursor: pointer;
}

.video--enabled .video__button {
  display: block;
}

.push-air {
  background: url(../img/backgraund-2.png) no-repeat top center;
  background-size: cover;
  min-height: 110vh;
  padding-top: 180px;

}

.wrapper {
  margin: 0 auto;
  max-width: 1760px;
}

.push-air__title {
  max-width: 368px;
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
}

.push-air__description {
  max-width: 700px;
  font-size: 24px;
  line-height: 40px;
}

.push-air__description:not(:last-child) {
  margin-bottom: 20px;
}

.types {
  background: url(../img/back-3.png) no-repeat top center;
  background-size: cover;
  min-height: 110vh;
  padding-top: 110px;
  padding-bottom: 115px;
}

.types__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.types__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
  margin-top: 0;
}

.types__list {
  max-width: 600px;
  overflow: auto;
  overflow-x: hidden;
  max-height: 698px;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
}

.types__item-wrapper {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.types__item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}

.types__item-link {
  display: flex;
  align-items: center;
  column-gap: 15px;
  font-size: 18px;
  line-height: 26px;
  color: #00285D;
}

.types__item-link img {
  transition: transform 0.2s ease-in-out;
}

.types__item-link:hover img {
  transform: translateX(5px);
}

.types__item-description {
  font-size: 24px;
  line-height: 40px;
  padding-top: 15px;
  padding-bottom: 50px;
  max-width: 586px;
}

.types__list {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

.types__list::-webkit-scrollbar {
  height: 24px;

}

.types__list::-webkit-scrollbar-track {
  background: rgba(0, 40, 93, 0.25);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.types__list::-webkit-scrollbar-thumb {
  background: #000000;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.types__video {
  width: 100%;
  max-width: 1002px;
  min-height: 563px;
  border: 3px solid #00285D;
  border-radius: 20px;
}

.request__block {
  position: relative;
}

.request__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 0;
}

.request__content {
  padding-bottom: 55px;
}

.request__button {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #00285D;
  margin-bottom: 50px;
}

.request__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.request__button img {
  width: 25px;
  transition: transform 0.2s ease-in-out;
}

.request__button:hover img {
  transform: translateX(5px);
}

.request__btn {
  color: #00285D;
  font-size: 18px;
  line-height: 100%;
  border: 1px solid #00285D;
  border-radius: 25px;
  width: 243px;
  height: 50px;
}

.request__btn:hover {
  background: #00285D;
  color: #FFFFFF;
}

.request__input {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  width: 395px;
  padding: 30px;
  padding-bottom: 80px;
  border: 1px solid #606060;
  border-radius: 10px;
}

.request__caption {
  position: absolute;
  top: 70px;
  left: 30px;
  font-size: 24px;
  line-height: 26px;
  color: #606060;
}

.request__descriprion {
  font-size: 13px;
  line-height: 15px;
  color: #8A8A8A;
  padding: 20px 0 50px;

}

.request__descriprion-link {
  text-decoration-line: underline;
  color: inherit;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #000000;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #000000;
  opacity: 1;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000000;
  opacity: 1;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000000;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}


::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000000;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #000000;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}

.zero {
  background: url(../img//top-bg.png) no-repeat top center;
  min-height: 110vh;
  padding-top: 215px;
  padding-bottom: 270px;
}

.zero__wrapper {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 545px;
}

.zero__btn {
  color: #00285D;
  font-size: 18px;
  line-height: 100%;
  border: 1px solid #00285D;
  border-radius: 25px;
  width: 243px;
  height: 50px;
}

.zero__btn:hover {
  background: #00285D;
  color: #FFFFFF;
}

.zero__title {
  max-width: 545px;
  text-align: left;
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 50px;
}

.zero__description {
  font-size: 24px;
  line-height: 40px;
  max-width: 620px;
  margin-bottom: 20px;
}


.helper {
  background: url(../img//bg-4.png) no-repeat top center;
  min-height: 110vh;
  padding-top: 260px;
  padding-bottom: 270px;
}

.helper__title {
  max-width: 545px;
  text-align: left;
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
}

.helper__description {
  font-size: 24px;
  line-height: 40px;
  max-width: 770px;
}

.helper__description:not(:last-child) {
  margin-bottom: 20px;
}

.pace-life {
  background: url(../img//back-5.png) no-repeat top center;
  min-height: 110vh;
  padding-top: 250px;
  padding-bottom: 270px;
}

.pace-life__title {
  max-width: 490px;
  text-align: left;
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
}

.pace-life__description {
  font-size: 24px;
  line-height: 40px;
  max-width: 610px;
}

.pace-life__description:not(:last-child) {
  margin-bottom: 20px;
}

.technology {
  background: url(../img//back-6.png) no-repeat top center;
  min-height: 110vh;
  padding-top: 250px;
  padding-bottom: 270px;
}

.technology__title {
  max-width: 800px;
  text-align: left;
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 50px;
}

.technology__description {
  font-size: 24px;
  line-height: 40px;
  max-width: 720px;
}

.inspection {
  background: url(../img//back-9.png) no-repeat top center;
  min-height: 110vh;
  padding-top: 250px;
  padding-bottom: 100px;
}

.inspection__title {
  max-width: 800px;
  text-align: left;
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 50px;
}

.inspection__description {
  font-size: 24px;
  line-height: 40px;
  max-width: 720px;
}

.inspection__description:not(:last-child) {
  margin-bottom: 20px;
}

.inspection__block {
  width: 50%;
  margin-left: auto;
}

.inspection__wrapper {
  display: flex;
  align-items: center;
}

.inspection__btn {
  color: #00285D;
  font-size: 18px;
  line-height: 100%;
  border: 1px solid #00285D;
  border-radius: 25px;
  width: 243px;
  height: 50px;
  margin-top: 50px;
}

.inspection__btn:hover {
  background: #00285D;
  color: #FFFFFF;
}

.inspection__img-block {
  position: relative;
}

.inspection__decor-wrapper {
  position: absolute;
  transition: transform 0.2s ease-in-out;

}

.inspection__decor-wrapper--1 {
  left: 227px;
  top: 73px;
}

.inspection__decor-wrapper--2 {
  left: 305px;
  top: 67px;
}

.inspection__decor-wrapper--3 {
  left: 65px;
  top: 140px;
}

.inspection__decor-wrapper--4 {
  left: 170px;
  top: 262px;
}

.inspection__decor-wrapper--5 {
  left: 114px;
  top: 396px;
}

.inspection__decor-wrapper--6 {
  left: 250px;
  top: 425px;
}

.inspection__decor-wrapper--7 {
  top: 121px;
  right: 203px;
}

.inspection__decor-wrapper--8 {
  top: 223px;
  right: 294px;
}

.inspection__decor-wrapper--9 {
  top: 348px;
  right: 329px;
}

.inspection__decor-wrapper--10 {
  bottom: 357px;
  right: 247px;

}

.inspection__decor-wrapper--11 {
  bottom: 236px;
  right: 148px;
}

.inspection__decor-wrapper--12 {
  bottom: 131px;
  right: 380px;
}

.inspection__decor-wrapper--13 {
  bottom: 81px;
  right: 215px;
}

.inspection__decor {
  position: relative;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  width: 47px;
  height: 47px;
}


.inspection__decor-wrapper:hover {
  transform: scale(1.25);
}


.inspection__decor-gradient {
  position: absolute;
  width: 47px;
  height: 47px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0.25) 100%);
  filter: blur(12.6113px);
  z-index: 2;
}

.inspection__decor-cirle {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #FFFFFF;
  z-index: 5;
}

.lifting {
  min-height: 110vh;
  position: relative;
}

.lifting__img-decor-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.lifting__img-decor-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: rotate(180deg);
}

.lifting__wrapper {
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 2;
  color: #FFFFFF;
}

.lifting__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
  max-width: 550px;
  text-align: left;
}

.lifting__description {
  font-size: 24px;
  line-height: 40px;
  max-width: 698px;
  text-align: left;
}

.lifting__btn {
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  border: 1px solid #ffffff;
  border-radius: 25px;
  width: 243px;
  height: 50px;
  margin-top: 50px;
}

.lifting__btn:hover {
  background: #ffffff;
  color: #000000;
}

.lifting__bgvideo {
  min-width: 100%;
  min-height: 100%;
  max-width: 1900px;
  width: auto;
  height: auto;
  z-index: -9999;
}

.specification {
  max-width: 1708px;
  width: 100%;
  margin: 0 auto;
}

.specification__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 850px;

}

.specification__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
}

.specification__item {
  position: relative;
  width: 40%;
  margin-bottom: 50px;
}

.specifiation__item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.specification__block-desc {
  display: none;
}

.specification__block-desc.active {
  position: absolute;
  background-color: #ffffff;
  z-index: 2;
  display: block;
  animation: ani 2.5s forwards;
}

@keyframes ani {
  0% {
    transform: translateY(-150%);
  }

  100% {
    transform: translateY(0);
  }
}

.specification__block-desc {
  margin-top: 20px;
  font-size: 24px;
  line-height: 40px;
}

.specification__text {
  color: #8A8A8A;
  font-size: 24px;
  line-height: 26px;
  margin-right: 15px;
}

.specification__value {
  font-size: 24px;
  line-height: 26px;
}

.specification__block {
  flex: 1;
  display: flex;
  align-items: center;
}

.specification__wrapper--medium {
  max-height: 600px;
}

.specification__wrapper--mini {
  max-height: 200px;
}

.specification__wrapper--default {
  max-height: 380px;
}

.dimensions {
  margin-bottom: 110px;
}

.dimensions__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 30px;
}

.dimensions__content {
  display: flex;
  align-items: center;
  gap: 150px;
}

.video-materials {
  position: relative;
  margin-bottom: 100px;
}

.video-materials__slider {
  max-width: 1600px;
}

.video-materials__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 30px;
}

.video-materials__slider-item {
  max-width: 600px;
  width: 100%;
}

.video-materials__button img {
  width: 30px;
  height: 30px;
}


.video-materials__button--prev {
  position: absolute;
  left: 4%;
  top: 60%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.video-materials__button--prev img {
  transform: rotate(180deg);
}

.video-materials__button--next {
  position: absolute;
  right: 3%;
  top: 60%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.gallery-zen {
  margin-bottom: 100px;
}

.gallery-zen-slider {
  position: relative;
}

.gallery-zen__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 30px;
}

.gallery-zen-slide {
  max-height: 819px;
  border-radius: 20px;
  overflow: hidden;
}

.gallery-zen-slider---prev,
.gallery-zen-slider---next {
  background-image: url(./../img/arrow-gallery.svg);
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 30px;
  height: 20px;

}

.gallery-zen-slider---prev {
  left: 20px;

}

.gallery-zen-slider---next {
  right: 20px;
  transform: rotate(180deg);
}

.photos-of-buyers__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 30px;
  margin-top: 0;
}

.photos-of-buyers {
  padding-bottom: 100px;
}

.photos-of-buyers-slide {
  border-radius: 10px;
  overflow: hidden;
  max-height: 320px;
}

.photos-of-buyers-slider {
  position: relative;
}

.photos-of-buyers-blur {
  position: absolute;
  z-index: 1;
  width: 240px;
  height: 320px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0));
}

.photos-of-buyers-slider--prev,
.photos-of-buyers-slider--next {
  background-image: url(./../img/arrow-slider.svg);
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 30px;
  height: 20px;
}

.photos-of-buyers-slider--prev {
  left: 20px;
  top: 45%;
  transform: rotate(180deg);
}

.photos-of-buyers-slider--next {
  right: 20px;
}

.zen-feedback__wrapper {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.zen-feedback__btn {
  color: #00285D;
  font-size: 18px;
  line-height: 100%;
  border: 1px solid #00285D;
  border-radius: 25px;
  width: 243px;
  height: 50px;
}

.zen-feedback__btn:hover {
  background: #00285D;
  color: #FFFFFF;
}

.zen-feedback__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  margin: 0;
}

.zen-feedback__item {
  padding-top: 100px;
}

.zen-feedback__all-btn {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
}

.zen-feedback__more-btn {
  display: flex;
  align-items: center;
  column-gap: 15px;
  font-size: 18px;
  line-height: 21px;
  color: #00285D;
  margin-bottom: 30px;
}

.zen-feedback__info-top {
  display: flex;
  align-items: center;
  column-gap: 50px;
  margin-bottom: 30px;
}

.zen-feedback__more-btn:hover img {
  transform: translateX(5px);
}

.zen-feedback__user {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}

.zen-feedback__data {
  font-size: 24px;
  line-height: 26px;
  color: #8A8A8A;
}

.zen-feedback__text {
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 15px;
}

.zen-feedback {
  padding-bottom: 100px;
}

.zen-feedback-slide {
  border-radius: 10px;
  overflow: hidden;
  max-height: 320px;
}

.zen-feedback-slider {
  position: relative;
}

.zen-feedback-blur {
  position: absolute;
  z-index: 1;
  width: 240px;
  height: 320px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0));
}

.zen-feedback-slider--prev,
.zen-feedback-slider--next {
  background-image: url(./../img/arrow-slider.svg);
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 30px;
  height: 20px;
}

.zen-feedback-slider--prev {
  left: 20px;
  top: 45%;
  transform: rotate(180deg);
}

.zen-feedback-slider--next {
  right: 20px;
}